#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Old CSS */

body {
    font: 12pt Roboto;
    background-color: #d3e7f5;
}

#options {
    position: absolute;
    top:10px;
    left:10px;
  
    display: flex;
    gap: 10px;
  
    z-index: 1;
    width: 350px;
  }

h4 {
    margin-bottom: 0.2em;
}

h5 {
    margin: 0;
}

#searchBox {
    padding: 1em;
}

#showProjects {
    margin-top: 1em;
}

ul.hideBullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topTechbarButton {
    margin-right: 1em !important;
}

.prereqButton {
    margin-right: 0.5em !important;
    margin-bottom: 0.5em !important;
    text-transform: none !important;
}

.researchDone {
    text-decoration: line-through !important;
}

.hideButton {
    display: none !important;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    z-index: 1000;
}

#mynetwork {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid lightgray;
}

#sidebar-react {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 600px;
    /* background-color: darkgray; */
    display: block;
    word-wrap: break-word;
    overflow: auto;
    padding: 1em;
    margin: 0.5em;

    /* text-align: start; */
}

#costInfo {
    font-weight: 700;
    font-size: 16px;
}

#costBreakdown {
    padding: auto;
}

#costBreakdown > ul{
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-break: break-all;
}

img {
    width: 100px;
    height: 100px;
}




